<div>
    <div class="container">
        <div class="row">
            <div class="sec-title text-center">
                <h2 class="wow animated bounceInLeft">Rock-Paper-Scissors</h2>
                <p class="wow animated bounceInRight">Get A file!!</p>
            </div>
            <div class="row">
                <button ng-click="downloadFile()">test</button>
            </div>

            <div class="sec-title text-center">
                <h2 class="wow animated bounceInLeft"></h2>

            </div>
        </div>
    </div>
