<div>
    <!--<section id="service">-->
        <div class="container">
            <div class="row">
                <div class="sec-title text-center">
                    <h2 class="wow animated bounceInLeft">Rock-Paper-Scissors</h2>
                    <p class="wow animated bounceInRight">Let's check the game options here</p>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a class="list-quotes" ng-href="/Home/Game#/game/topN">
                        <!-- Recommended size 360X360 -->
                        <img class='img-responsive' alt="img" ng-src="{{imgTopN}}">
                        <div class="quotes">
                            <span class="cat-name">Top 10!</span>
                            <p>
                                Click to check the best of the best or customize the result!!!.
                            </p>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a class="list-quotes" ng-href="/Home/Game#/game/manualEntry">
                        <!-- Recommended size 360X360 -->
                        <img class='img-responsive' alt="img" src="{{imgManualGame}}">
                        <div class="quotes">
                            <span class="cat-name">Cheat!</span>
                            <p>
                                ...Ok you have the power to set the First and Second place.
                            </p>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a class="list-quotes" ng-href="/Home/Game#/game/uploadGame">
                        <!-- Recommended size 360X360 -->
                        <img class='img-responsive' alt="img" src="{{imgUpload}}">
                        <div class="quotes">
                            <span class="cat-name">Upload!</span>
                            <p>
                                Time to send your own tournament and discover the champion!!!.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">


                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a class="list-quotes" ng-href="/Home/Game#/game/demo">
                        <!-- Recommended size 360X360 -->
                        <img class='img-responsive' alt="img" src="{{imgDemo}}">
                        <div class="quotes">
                            <span class="cat-name">Demo!</span>
                            <p>
                                I know you are busy, let me give you a test file.
                            </p>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a class="list-quotes" href="/">
                        <!-- Recommended size 360X360 -->
                        <img class='img-responsive' alt="img" src="{{imgNarrator}}">
                        <div class="quotes">
                            <span class="cat-name">Watch</span>
                            <p>
                                ...Get just the results of a tournament is boring... let's see what happen!!! .
                            </p>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a class="list-quotes" ng-href="/Home/Game#/nuke">
                        <!-- Recommended size 360X360 -->
                        <img class='img-responsive' alt="img" src="{{imgNuke}}">
                        <div class="quotes">
                            <span class="cat-name">Nuke</span>
                            <p>
                                Dude!!! you gonna erase all from the face of the database table...
                            </p>
                        </div>
                    </a>
                </div>

            </div>
        </div>
  <!--  </section>-->
    <button ng-click="getTopN()">top!!</button>
</div>>