
@section Scripts {
    <script src="~/app/app.js"></script>

<script src="~/app/controllers/mainController.js"></script>
<script src="~/app/controllers/topNController.js"></script>
<script src="~/app/controllers/nukeController.js"></script>
<script src="~/app/controllers/manualEntryController.js"></script>
<script src="~/app/controllers/uploadGameController.js"></script>
<script src="~/app/controllers/demoController.js"></script>
<script src="~/app/services/dataService.js"></script>

}

<div  ng-app="gameApp" ng-view></div>

